<div id="wrap">
  <header>
    <div class="container">
      <a href="http://www2.gov.bc.ca/" tabindex="-1">
        <img class="header-logo"
             tabindex="-1" alt="B.C. Government Logo"
             src="https://cdn.rawgit.com/bcgov/mygovbc-bootstrap-theme/v0.2.0/dist/images/gov3_bc_logo.png">
      </a>
      <span class="title" role="banner">MyGovBC Bootstrap Theme Demo Page</span>
    </div>
  </header>
  
  <main class="container">
    <div class="page-header" id="banner">

      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <h1>MyGovBC Bootstrap Theme Demo Page</h1>
          <p class="lead">A demonstration of all bootstrap styles under the MyGovBC theme</p>
        </div>
      </div>      
    </div>
  </main>

  <div id="pad">
    <nav>
        <ul class="nav navbar-nav">
          <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
          <li><a href="" [routerLink]="['/customer']">Customer</a></li>
          <!--<li><a href="" [routerLink]="['/admin']">Admin</a></li>-->
        </ul>
    </nav>


    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<footer>
  <nav class="navbar navbar-default navbar-footer navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
        <li><a href="http://www2.gov.bc.ca/gov/content/health/health-drug-coverage/msp/bc-residents-contact-us"
               target="_blank">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</footer>  
